<title><%= video.title %></title>
<section class="delete-video-page sections">
    <div class="rap">
        <div class="video">
            <a href="">
                <img src="/videos/img/<%= video.img %>" alt="img">
                <h5 class="text-center">
                    <%= video.title %>
                </h5>
                <div>
                    <span>
                        <%= video.views %>
                    </span> |
                    <span>
                        <%= video.category %>
                    </span>
                    <form action="/admin/delete-video/<%= video._id %>" method="post">
                        <button type="submit" class="btn btn-danger mt-3">Delete</button>
                    </form>
                </div>
            </a>
        </div>
    </div>
</section>