<header class="header-container">
  <div class="rap">
    <div class="header">
      <div class="title">
        <a href="/" style="text-decoration: none;">
          <h1 title="Streamer">Streamer</h1>
        </a>
      </div>
      <div class="nav-icon">
        <img src="/img/nav-icon.png" alt="nav-icon" id="nav-icon">
      </div>
      <div class="search-container">
        <form action="/search" method="post">
          <input type="search" name="search" placeholder="Search..!" />
          <button title="Search">Search</button>
        </form>
      </div>
      <div class="auth">
        <%if (user) { %>

          <%if (user.auth_type==='email' ) { %>
            <img src="/userprofile/<%= user.img %>" alt="email" class="profile">
            <% } else if (user.auth_type==='discord' ) { %>
              <img src="https://cdn.discordapp.com/avatars/<%= user.Dc_uid %>/<%= user.img %>.png" alt="discord"
                class="profile">
              <% } else if (user.auth_type==='google' ) { %>
                <img src="<%= user.img %>" alt="google" class="profile">
                <% } else { %>
                  <img src="/img/profile.png" alt="error" class="profile">
                  <% } %>
                    <div class="drop-menu">
                      <div class="drop-icon">
                        <a href="/account/<%= user._id %>" class="mt-3">Account</a>
                      </div>
                      <div class="drop-icon">
                        <a href="/auth/logout" class="mt-3 text-danger">logout</a>
                      </div>
                    </div>
                    <% } else { %>
                      <a href="/auth/signin" title="login"><b>Sign in</b></a>
                      <a href="/auth/signup" title="create a account"><b>Sign up</b></a>
                      <% } %>
      </div>
    </div>
  </div>
</header>

<div style="display: none;" class="header-menu mt-2">
  <a href="/"><i class="bi bi-house-door-fill"></i> Home</a>
  <br>
  <a href="" class="mt-1"><i class="bi bi-record-circle"></i> Anime</a>
  <br>
  <a href="" class="mt-1 mb-2"><i class="bi bi-film"></i> Movie</a>
  <br>
  <%if (user) { %>
    <%if (user.admin) { %>
      <a href="/admin" class="mt-1 mb-2"><i class="bi bi-palette"></i> Admin</a><br>
      <a href="/account/<%= user._id %>" class="mt-1 mb-2"><i class="bi bi-person-circle"></i> Account</a>
      <br>
    <% } %>
        <a href="/auth/logout" class="mt-1 mb-2 text-danger"><i class="bi bi-box-arrow-right"></i> Log Out</a> <br>
  <% } else { %>
        <a href="/auth/signin" class="mt-1 mb-2 "><i class="bi bi-person-fill-check"></i> Signin</a> <br>
        <a href="/auth/signup" class="mt-1 mb-2 text-info "><i class="bi bi-person-fill-add"></i> Signup</a> <br>
  <% } %>
</div>
<script>
  $('.nav-icon').click(function () {
    $('.sections').toggle()
    $('.header-menu').toggle()
  })

  $('.profile').click(function () {
    $('.drop-menu').toggle()
  })
</script>