<title>Home</title>
<section class="home-page">
    <div class="rap">
        <div class="menu-div">
            <div class="menu-icon mt-2">
                <a href="/"><i class="bi bi-house-door-fill"></i> Home</a>
                <a href="" class="mt-1"><i class="bi bi-record-circle"></i> Anime</a>
                <a href="" class="mt-1 mb-2"><i class="bi bi-film"></i> Movie</a>
                <%if (user) { %>
                  <%if (user.admin) { %>
                   <a href="/admin" class="mt-1 mb-2"><i class="bi bi-palette"></i> Admin</a>
                  <% } %>
                <% } %>
            </div>
            <div class="history-div">
                <h3 class="text-center">History</h3>
            </div>
        </div>
        <div class="main-div p-1">
            <% for (let key in allvideo) { %>
            <div class="video p-3">
                <a href="/video/<%= allvideo[key]._id %>">
                    <img src="/videos/img/<%= allvideo[key].img %> " alt="img">
                    <div class="info">
                        <p><%= allvideo[key].title %></p>
                        <span><i class="bi bi-eye"></i> <%= allvideo[key].views %> views</span> |
                        <span><i class="bi bi-card-list"></i> <%= allvideo[key].category %></span>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</section>