<title>
    <%= search %>
</title>
<section class="search-page">
    <div class="rap">
        <div class="video container mt-3">
            <% for (let key in video) { %>
                <a href="/video/<%= video[key]._id %>">
                    <img src="/videos/img/<%= video[key].img %>" alt="img">
                    <h5>
                        <%= video[key].title %>
                    </h5>
                    <div>
                        <span>
                            <%= video[key].views %> Views
                        </span> |
                        <span>
                            <%= video[key].category %>
                        </span>
                    </div>
                </a>
                <% } %>
        </div>
    </div>
</section>