<title><%= video.title %></title>
<section class="video-page">
    <div class="video-div p-5">
        <div class="video p-2">
            <video controls autoplay>
                <source src="/videos/video/<%= video.video %>" type="video/mp4" />
            </video>
            <div class="info">
                <h4><%= video.title %></h4>
                <button id="likeaction"><i class="bi bi-hand-thumbs-up"></i> <%= video.like %></button>
                <span><i class="bi bi-eye"></i> <%= video.views %></span> | 
                <span class="ml-3"><i class="bi bi-card-list"></i> <%= video.category %></span>
                <div class="description mt-3">
                    <p><%= video.description %></p>
                </div>
            </div>
        </div>
        <div class="suggestions"></div>
    </div>
    <span id="video_id" style="display: none;"><%= video._id %></span>
</section>

<script>
    let vid = $('#video_id').text()
       $('#likeaction').click(function (){
        $.ajax({
            type:'GET',
            url: '/likeaction',
            data: { videoId: vid },
            success: function(response){
                console.log(response)
            },
            error: function (error){

            }
        })
    })
</script>
